.dockerignore
.git
.gitignore
.vscode
.husky
.env
bin
data
dist
build
docker
Dockerfile
docs
node_modules
**/node_modules
*.yml
!.yarnrc.yml
*.md
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/versions
!.yarn/cache